body, h1, ul, li, a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.logo {
  height: 100px;   
  width: 100px;
  margin-right: 30px;   
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px;
  color: #fff;
}
.main-header-left {
  display: flex;
  align-items: center;
}

.main-header-left{
  color: #e50914; 
  font-size: 28px;
  margin-right: 25px;
}

.main-header-left ul {
  display: flex;
  list-style: none;
}

.main-header-left ul li {
  margin-right: 20px;
}

.main-header-left ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.main-header-left ul li a:hover {
  text-decoration: underline;
}
.main-header-right ul {
  display: flex;
  list-style: none;
}

.main-header-right ul li {
  margin-left: 20px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.main-header-right{
  padding-right:20px ;
  margin-left: auto;
  gap: 15px;
}

.main-header-right ul li a {
  color: #fff;
  text-decoration: none;
}

.main-header-right ul li:hover {
  color: #e50914; 
}
.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
  color: #fff;
}
.hero-video {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: 0;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin-left: 50px;
  top: 30%;
}
.hero-content h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #e50914;
  font-family: 'Courier New', Courier, monospace;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.4;
}
.hero-buttons button {
  margin-right: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-play {
  background-color: #fff;
  color: #000;
}

.btn-info {
  background-color: rgba(109,109,110,0.7);
  color: #fff;
}
.row{
  color: #fff;
  margin: 20px;
}
.row h2{
  margin-bottom: 10px;
}
.row-posters{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

}
.row-posters::-webkit-scrollbar{
  display: none;
}
.row-posters img{
  flex: 0 0 auto;
  width: 18%;
  margin-right: 10px;
  border-radius: 4px;
  transition: transform 0.3s;
  cursor: pointer;
  scroll-snap-align: start;
}
.row-posters img:hover{
  transform:scale(1.1);
}
.hidden{
  display: none;
}
.toggle-more:checked + .row-posters .hidden{
  display: block;
}
.more-option{
  flex: 0 0 auto;
  background-color: rgba(109,109,110,0.7);
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.more-option:hover{
  background-color: #e50914;
}
.toggle-more{
  display: none;
}
.footer {
  background-color: #000;
  color: #757575;
  padding: 50px 80px;
  font-size: 14px;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
}

.footer-top {
  margin-bottom: 30px;
}

.footer-top a {
  color: #757575;
  text-decoration: none;
}

.footer-top a:hover {
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 15px;
}

.footer-links ul li a {
  color: #757575;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-language select {
  background-color: #000;
  color: #fff;
  padding: 8px 15px;
  border: 1px solid #757575;
  margin-bottom: 20px;
}

.footer-bottom {
  margin-top: 20px;
}